@using ShoppingWEBUI.Core.DTO
@model List<CategoryDTO>
<table id="tblKategoriler" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Kategori</th>
            <th style="width:20%"></th>

        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Convert.ToInt32(i+1)</td>
                    <td>@Model[i].Name</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btnCategoryDetail" data-guid=@Model[i].Guid data-toggle="modal" data-target="#modal-DetayKategori">Güncelle</button>
                            <button type="button" class="btn btn-danger btnKategoriSil" data-guid=@Model[i].Guid>Sil</button>
                        </div>
                    </td>
                </tr>
            }
        }



    </tbody>
</table>

<div class="modal fade" id="modal-DetayKategori">
    <div class="modal-dialog modal-DetayKategori">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kategori Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtKategoriAd_Add">Kategori Adı</label>
                    <input type="text" class="form-control" id="txtKategoriAd_Update">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnUpdateKategori">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(function () {
        $("#tblKategoriler").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblKategoriler_wrapper .col-md-6:eq(0)');

        $(document).on('click', '.btnCategoryDetail', function () {
            $('#txtKategoriAd_Update').val('');
            var categoryGUID = $(this).attr('data-guid');
            $.ajax({
                url: '/Admin/Kategori/' + categoryGUID,
                type: 'get',
                success: function (response) {
                    if (response.success) {
                        //$('#hdnUpdateCategoryGUID').val(categoryGUID);
                        //sessionStorage.setItem('updatedCategoryGUID', categoryGUID)
                        $('#modal-DetayKategori').modal('show');

                        $('#btnUpdateKategori').attr('data-guid', categoryGUID)

                        $('#txtKategoriAd_Update').val(response.data.Name);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        if (HataBilgisi.Hata != null) {
                            for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                Hatalar += HataBilgisi.Hata[i] + '</br>';
                            }
                        }


                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });
        });

        $('#btnAddKategori').click(function () {

            var category = new Object();

            category.Name = $('#txtKategoriAd_Add').val();

            $.ajax({
                url: '/Admin/AddCategory',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { category },
                success: function (response) {
                    if (response.success) {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Kategori Başarıyla Eklendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('#btnUpdateKategori').click(function () {
            var category = new Object();

            category.Name = $('#txtKategoriAd_Update').val();
            //category.Guid = $('#hdnUpdateCategoryGUID').val();
            //category.Guid =sessionStorage.getItem('updatedCategoryGUID');
            category.Guid = $(this).attr('data-guid');

            $.ajax({
                url: '/Admin/UpdateCategory',
                type: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { category },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Kategori Başarıyla Güncellendi',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        setTimeout(function () { window.location.reload() }, 3000);

                    }
                    else {

                        var HataBilgisi = response.HataBilgisi;
                        var Hatalar = '';
                        for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                            Hatalar += HataBilgisi.Hata[i] + '</br>';
                        }

                        Swal.fire({
                            icon: 'error',
                            title: HataBilgisi.HataAciklama,
                            html: Hatalar
                        })


                    }
                },
                error: function (err) {

                    Swal.fire({
                        icon: 'error',
                        title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                    })
                }
            });

        });


        $('.btnKategoriSil').click(function () {
            var categoryGUID = $(this).attr('data-guid');

            Swal.fire({
                title: 'UYARI!',
                text: "'Kategoriyi Silmek İstediğinizden Emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!',
                cancelButtonText: 'Hayır',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/RemoveCategory/' + categoryGUID,
                        type: 'post',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (response) {
                            if (response.success) {

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Kategori Başarıyla Silindi',
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                setTimeout(function () { window.location.reload() }, 3000);

                            }
                            else {

                                var HataBilgisi = response.HataBilgisi;
                                var Hatalar = '';
                                for (var i = 0; i < HataBilgisi.Hata.length; i++) {
                                    Hatalar += HataBilgisi.Hata[i] + '</br>';
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: HataBilgisi.HataAciklama,
                                    html: Hatalar
                                })


                            }
                        },
                        error: function (err) {

                            Swal.fire({
                                icon: 'error',
                                title: "HATA OLUŞTU. TEKRAR DENEYİNİZ.",
                            })
                        }
                    });
                }
            })
        });

    })

</script>